* {
  box-sizing: border-box;
}
header {
  text-align: center;
}

.col-md-1 {
  width: 25%;
}
.col-md-2 {
  width: 50%;
}
.row:after {
content: "";
display: block;
clear: both;
}
[class*="col-"] {
  float: left;
}

.field {
  width: 100%;
  margin: 10px 0;
}
.submit {
  float: right;
  width: 50%;

}

.color {
  background-color: #ccc;
  color: #fff;
  padding: 10px;
}