* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.clear {clear: both;}
body {
  background-color: rgb(226, 222, 222);
}
header {
  
  height: 50px;
  background-color: #d1dbec;
  
  margin: 0 auto;
  
}

.logo {
  margin: 7px;
  width: 180px;
  background-color: #d1dbec;
  float: left;
  margin-left: 300px;
}

.nav {
  float: left;
  margin-left: 110px;
}
.dlist {
  list-style: none;
  
}
.dlist>li{
  font-family: Panton;
  color: #4a71b4;
  font-weight: 600;
  display: block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  float: left;
  border-left: solid 1px #4a71b4;
  text-align: center;
}

.search {
  position: relative;
  height: 50px;
  line-height: 50px;
}

form {
  position: absolute;
  left:1250px
}
.search-butt {
  position: relative;
  left:-20px;

}
input{
  width: 200px;
  font-family: panton;
  color: #4a71b4;
}
.search-butt-icon {
  background-color: #4a71b4;
  
}

.icon {
  position: absolute;
  top:10px;
  left:1500px;
}
.count {
  border-radius: 6px;
    background-color: #4a71b4;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: x-small;
    position: relative;
    top: -30px;
    left:-6px;
}

/* .container {
  width: 80%;
  min-height: 1000px;
  margin: 0 auto;
  background-color:#4970b4;
} */