/* p {
  color: green ;
}
.blue-text {
  color: blue;
}
.yellow-text{
  color: yellow;
}
.fz25{

  font-size: 25px;
}
a{
  display: block;
  width: 100px;
  height: 50px;
  color: white;
  background-color: blue;
} */
/* * {
  box-sizing: border-box;
}

div{
  width: 500px;
  color: white;
  background-color: blue;
  margin: 20px;
  padding: 20px;
  border: 3px solid red;
} */

/* .menu a{
  color: red;
}
.menu>li>a {
  color:green;
}
h1 ~ p {
  color: red;
}
a[href*="00"] {
  color: red;
} */
.menu {
  list-style:none;
}
.menu li {
  width: 100px;
  margin: 10px;
  float: left;
}
.menu a {
  display: block;
  height: 30px;
  background-color: red;
  color:white;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border:1px solid red;
  border-radius: 4px;
  
}
.menu a:hover {
  background-color: white;
  color:red;
}