body {
  color: #000;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: none;
  background-color: white;
}

div {
  background-color: aqua;
}
sidebar {
  background-color: whitesmoke;
  float: left;
  width: 10%;
  

}

header { 
  width: 90%;
  background: linear-gradient(0deg, whitesmoke, white); 
  
  float: left;
  height: 100px;
}

article {
float: left;
width: calc(90% - 2px);

text-align: justify;
background-color: white;

}
footer {
	height: 44px;
	clear: both;

  background-color:whitesmoke;

}

#auth{
  float: right;
  list-style: none;
  display: flex;
  margin: 10px;
  word-spacing: 5 px
  
}

li {
  margin-right: 10px;
  list-style: none;}
#pan {
  float: left;
  display :flex;
  list-style: none;
  position: sticky;
  top: 115px;
  
}
#search {
  float: right;
  display :flex;
  list-style: none;
position: sticky;
  top: 115px;
  
  left: 65%;

}
#logo {
  size: 100%;
}
a {
  
  text-decoration: none;
  color: blue;

}
a:hover {
  color: blue;
  text-decoration: underline;

}
h3 {
  font-size: 12px;
  color: rgb(99, 95, 95);
  margin-left: 5%;
}
#italic {
  font-style: italic;
}
h1 {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 0px;
}
p {
  padding-bottom: 10px;
  
}
#banner {
  width: 250px;
  background-color: whitesmoke;
  border: 1px;
  border-color: rgb(75, 138, 197);
  border-style: solid;
  float: right;
  margin-left: 10px;
  padding: 1%;

}
#banner img{
  width: 100%;
}
