*{
  box-sizing: border-box;
}
body {
  background-color: grey;
}
.container {
  width: 90%;
  background-color: whitesmoke;
  margin: 0 auto;
}
.clear {clear: both;}
.cont {
  margin: 5px;
  padding: 5px;
  background: #000;
  color: aliceblue;
}

@media (min-width:767px) {
  .cont {
    width: 42%;
    background-color: tomato;
    height: 300px;
    margin: 25px;
    padding: 1em;
    float: left;

  }
  
}

@media (min-width: 1024px) {
  .cont {
    width: 21%;
  }
}